<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :gpa %><br>
    <%= f.text_field :gpa %>
  </div>
  <div class="field">
    <%= f.label :project_survey_id %><br>
    <%= f.number_field :project_survey_id %>
  </div>
  <div class="field">
    <%= f.label :record_begin %><br>
    <%= f.date_select :record_begin %>
  </div>
  <div class="field">
    <%= f.label :record_end %><br>
    <%= f.date_select :record_end %>
  </div>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_area :skills %>
  </div>
  <div class="field">
    <%= f.label :standing %><br>
    <%= f.text_field :standing %>
  </div>
  <div class="field">
    <%= f.label :work_period %><br>
    <%= f.text_field :work_period %>
  </div>
  <div class="field">
    <%= f.label :payment %><br>
    <%= f.text_field :payment %>
  </div>
  <div class="field">
    <%= f.label :is_undergrad %><br>
    <%= f.check_box :is_undergrad %>
  </div>
  <div class="field">
    <%= f.label :is_grad %><br>
    <%= f.check_box :is_grad %>
  </div>
  <div class="field">
    <%= f.label :is_phd %><br>
    <%= f.check_box :is_phd %>
  </div>
  <div class="field">
    <%= f.label :is_highschool %><br>
    <%= f.check_box :is_highschool %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
