<fieldset>
  <div id = "wrap">  

       <b> What type of students will you require for this 
      position? (Check all that apply).<%= link_to image_tag('question.png'), '#student_type_help', :rel => "facebox"  %><br>
      <div id="student_type_help" style="display:none;"><h4>Student Types</h4>The system will restrict matches to the types of students you select here.  If you don't select any, the system will match all students, of any standing, who have interests in your area.</div></b>
    <div class="field">
      <%= f.check_box :is_undergrad, {}, '1', '0' %>
      <%= f.label "Undergraduate" %>
      <b>|</b>
      <%= f.check_box :is_grad, {}, '1', '0' %>
      <%= f.label "Graduate"%>
      <b>|</b>
      <%= f.check_box :is_postdoc, {}, '1', '0' %>
      <%= f.label "Postdoc"%>
      <b>|</b>
      <%= f.check_box :is_highschool, {}, '1', '0' %>
      <%= f.label "Highschool" %>
    </div>
    <br />
    <div class="field">
        Preferred Department(s) (select as many as you like)<%= f.label " " %><br>
        <%= render 'department_fields', f: f %>

    </div>
  <div id="main">

    <div class="field">
      <%= f.label "Description of Position" %><br>
      <%= f.text_area :description, :class => 'textArea' %>
    </div>
      <div class="field">
      Work Period<%= f.label " " %><%= link_to image_tag('question.png'), '#help', :rel => "facebox"  %><br>
      <div id="help" style="display:none;"><h4>Work Period</h4>Specify when you will be needing the work done.<br> (e.g. "Jan - May 2014" or "Spring 2014", etc.)</div>
      <%= f.text_field :work_period, :class => 'textField' %>
    </div>
    <div class="field">
      <% if @positions != nil %>
      <%= f.label "Will the student earn academic credit?"%><br>
        <%= f.select :credit, options_for_select([["Select One", ""], "Yes", "No", "Possibly"], @positions[@positions_index].credit) %>
      <% else %>
        <%= f.label "Will the student earn academic credit?" %><br>
        <%= f.select :credit, options_for_select([["Select One", ""], "Yes", "No", "Possibly"]) %>
      <% end%>
    </div>
    <div class="field">
      <% if @positions != nil %>
      <%= f.label "Is this a paid position?" %><br>
        <%= f.select :payment, options_for_select([["Select One", ""], "Yes", "No", "Possibly"], @positions[@positions_index].payment) %>
      <% else %>
        <%= f.label "Is this a paid position?" %><br>
        <%= f.select :payment, options_for_select([["Select One", ""], "Yes", "No", "Possibly"]) %>
      <% end%>
    </div>
    <div class="field">
      Minimum required GPA<%= f.label " " %><br>
      <%= f.text_field :gpa, :class => 'gpaField', :value => "3.0" %>
    </div>
       <%= f.hidden_field :_destroy %>
       <%= link_to "Remove this Position", '#', class: "remove_fields" %>
  </div><!-- End Main div -->
  <div id="sidebar">

    <div class="field">
      <%= f.label "Additional skills" %><br>
      <%= f.text_area :skills, :class => 'textArea' %>
    </div>
    <div class="field">
      <% if @positions != nil %>
      <%= f.label "Preferred standing for undergraduates" %><%= link_to image_tag('question.png'), '#undergrad_help', :rel => "facebox"  %><br>
      <div id="undergrad_help" style="display:none;"><h4>Undergraduate Standing</h4>If you haven't clicked the undergraduate checkbox, there's no need to change this selection.</div>
        <%= f.select :standing, options_for_select([["Select One", ""],"Freshman", "Sophomore", "Junior", "Senior"], @positions[@positions_index].standing) %>
        <% @positions_index = @positions_index + 1 %>
      <% else %>
        <%= f.label "Preferred standing for undergraduates" %><br>
        <%= f.select :standing, options_for_select([["Select One", ""],"Freshman", "Sophomore", "Junior", "Senior"]) %>
      <% end%>
    </div>
      <div class="field">
      <%= f.label "When should this position be posted?" %><br>
      <%= f.date_select :record_begin, :start_year => Date.today.year  %>
    </div>
    <div class="field">
     <%= f.label "When should this posting be removed?" %><br>
      <%= f.date_select :record_end, :start_year => Date.today.year, :default => 180.days.since(Date.today).to_date %>
    </div>  

    </div><!-- end sidebar div -->
    
  </div><!-- end wrap div -->

</fieldset>
