<div id = "projectFormIntro">
  <%= form_for(@project_survey) do |f| %>
  <% if @project_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_survey.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project_survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h3>This form will guide you to set up a project for the database.</h3>
  <hr>

  There are two configurations for the system.  The first configuration allows students to contact you if they are interested in your project.  The second configuration notifies you when qualified students match your project, but does not allow students to contact you.  Therefore, you would be able to contact those students who you are interested in hiring.
  <br />
  <br />

  <hr>
  <div class="button" id ="introButton" style="">Next</div>
</div> <!-- <div id = "projectFormIntro"> -->
<div id="error_explanation" style="display:none;"></div>  
<div id = "projectForm">


<div id="wrap">



<% if f.object.new_record? %>
<%= javascript_tag do %>
  window.projectID = "new";
<% end %>
<% else %>
<%= javascript_tag do %>
  window.projectID = "<%= @project_survey.id %>";
<% end %>
<% end %>

<div id="main">
    <h5> General Project information </h5>
    <br />
    <div class="field">
      <span style="font-size:15px;color:#b80030">*</span><%= f.label "Lead Researcher" %><br />
      <%= f.text_field :researcher, :class => 'textField', :value => current_research_user.first_name + " " + current_research_user.last_name%>
    </div>
    
    <div class="field">
      <span style="font-size:15px;color:#b80030">*</span><%= f.label "Title of Project" %><br />
      <%= f.text_field :title, :class => 'textField' %>
    </div>
    
    <div class="field">
      <span style="font-size:15px;color:#b80030">*</span><%= f.label "Keywords (separated by commas)" %><%= link_to image_tag('question.png'), '#keyword_help', :rel => "facebox"  %><br>
      <div id="keyword_help" style="display:none;"><h4>Research Keywords</h4>These are the research keywords associated with your project.  These will be the same keywords you would put in a paper or proposal regarding your project.  The system looks for students with interests matching your specified keywords and matches accordingly.</div>
      <%= f.text_field :keywords, :class => 'textField' %>
    </div>

  </div>
  
  <div id="sidebar">
    
    <h5>Project contact information </h5>
    <br />
    <div class="field">
      <%= f.label "Contact Name (If not lead researcher)" %><br />
      <%= f.text_field :contact, :class => 'textField' %>
    </div>
    <div class="field">
      <span style="font-size:15px;color:#b80030">*</span><%= f.label "Email address" %><br />
      <%= f.text_field :email, :class => 'textField', :value => current_research_user.email %>
    </div>
    <div class="field">
      <%= f.label "Phone Number (optional)" %><br />
      <%= f.text_field :phone, :class => 'textField' %>
    </div>

  </div> <!-- End of sidebar -->
  
  <div id="bottom">
    <div class="field">
      <span style="font-size:15px;color:#b80030">*</span><%= f.label "General Description of Project" %><br />
      <%= f.text_area :description, :class => 'projectDesc' %>
    </div>
    <div class="field">

   <span style="font-size:15px;color:#b80030">*</span><%= f.label "Department" %><br />
      <%= f.select :department,  options_from_collection_for_select(@departments, "name", "name", @project_survey.department), :style => 
      "width:100px;", :include_blank => "Select Department" , :selected => nil %>

    </div>
    <span style="color:#b80030;font-weight:bold;font-size:12px;">*denotes required field.</span>
    <br />
    <br />
    <div class="button" id="formNextButton">Next</div>  
</div> <!-- End Project FOrm div -->
</div>
</div>
<div id = "positionForm" >
          <p>Below is a form to specify what kinds of students you would like to hire for your project.  You can be as general or specific as you like.  The more general your specifications are, the more likely it is that the system will match students to your project.  If you are more particular about your needs, the system is more likely to find the "perfect" student for you.  If you need to identify more than one specific position, you can click on the "add aditional position" link.</p>
    <div id="lowerBottom"></div>

       <%= f.fields_for :positions do |builder| %>
        <%= render 'position_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Add Additional Position", f, :positions %>
      <div class="baja">
        <br> 
        <div id="error_explanation" style="display:none;float:right;"></div>
          <div id="actions" style="float:left;">
            <div class="button" id="positionBackButton">Back</div>
          </div> 
          <div id="actions" style="float:right;",  >
        
           <%= f.submit "Post this Project", :onclick => "return validateForm()" %>
      </div>
    </div>
  </div>


<% end %>

