<% breadcrumb :project_survey, @project_survey %>
<div id="projectWrap">

  <div id="nav">
    <h1><%= @project_survey.title %></h1>

    <h3><%= @project_survey.department %></h3>
        <% if research_user_signed_in? && @project_survey.research_user_id == current_research_user.id %>
    <%= link_to 'Edit This Project', edit_project_survey_path(@project_survey) %>  
  <% end %>
  </div> <!-- End of nav div -->
    <hr>
  <div id="projectMain" >
      <p>
      <b>Research Area: </b><br /><%= @project_survey.keywords%>
    </p>
    
        
  </div> <!-- End of projectMain div -->
  
  <div id="projectSidebar">
  <% if @project_survey.is_contactable %>
    <div id="projectLeft">
      <p>
        
      <b>Contact:</b>
      <% if @project_survey.researcher != "" %>
        <%= @project_survey.researcher %>
      <% else %>
        <%= @project_survey.contact %>
      <% end %>
      </p>
      
      <b>Email:</b>
      <%= @project_survey.email %>
      

    </div>
    <div id="projectRight">
        <% if @project_survey.phone != "" %>
        <p>
        <b>Phone:</b>
        <%= @project_survey.phone %>
        </p>
        <% end %>
    </div>
  <% end %>

  </div>    
  <div id="projectBottom">
    <b>Project Description: </b><br /><%= @project_survey.description %>

  </div>

</div><br />

<div id = "projectBaja">
  <br />
  <br />
  
  <h1 style="font-size:130%">Summary of Position Positings</h1>

  <% @project_survey.positions.each do |position| %>

    <hr>
    <p>
      <b>Description: </b><br /><%= position.description.html_safe %>
    </p>

    <div id = "projectBaja">

        <p>
          Students should have the following standing(s).
            <br />
            <% if position.is_undergrad %>&#8226; <b>Undergraduate</b><br /><% end %>
            <% if position.is_grad %>&#8226; <b>Graduate</b><br /><% end %>
            <% if position.is_postdoc  %>&#8226; <b>Postdoc</b> <br /><% end %>
            <% if position.is_highschool  %>&#8226; <b>Highschool</b> <br /><% end %>

        </p>  

        <% if position.standing != "" && position.is_undergrad %>
          <p>  
            Students should have a standing of at least <b><%= position.standing %></b> at the start of the work period.  
          </p>
        <% end %>    
        <% unless position.departments.empty? %>
          <p>Seeking students who are currently enrolled, or interested in enrolling in:<br>
            <% position.departments.each do |department| %>
              &#8226; <b><%= department.name %></b><br />
            <% end %>
          </p>

        <% else %>
          <% if position.major != nil %>
          <p>
            Seeking students who are currently enrolled, or interested in enrolling in <b><%= position.major %></b>.</b>
          </p>
          <% end %>
        <% end %>
        <% if position.work_period != "" %>
          <p>  
            <b>Work Period:</b>
            <%= position.work_period %>
          </p>
        <% end %></p>



        <% if position.skills != "" %>
        <p>
          <b>Desired Skills:</b>
          <%= position.skills %>
        </p>
        <% end %>

        <% if position.gpa != "" %>
        <p>
          <b>Minimum required GPA:</b> <%= position.gpa %>
        </p>
        <% end %>

        <% if position.payment != "" && position.payment != nil %>
        <p>
          <b>Compensation:</b> <%= position.payment %>
        </p>
        <% end %>

        <% if position.credit != "" && position.credit != nil %>
        <p>
          <b>Academic Credit:</b> <%= position.credit %>
        </p>
        <% end %>

        <% if position.record_end != "" %>
        <p>
          <b>Application Deadline:</b> <%= position.record_end %>
        </p>
        <% end %>
        <hr>
    </div> <!-- End project baja -->   

  <% end %> 
</div><br />

</div>
<div id="projectBaja">

  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_project_survey_path(@project_survey) %> 

  <% end %>


  </div>


