<% breadcrumb :project_survey, @project_survey %>
<div id="projectWrap">

  <div id="nav">
    <h1><%= @project_survey.title %></h1>
    <h3><%= @project_survey.department %></h3>
  </div> <!-- End of nav div -->
    <hr>
  <div id="projectMain" >
      <p>
      <b>Research Area: </b><br /><%= @project_survey.keywords%>
    </p>
    
        
  </div> <!-- End of projectMain div -->
  
  <div id="projectSidebar">
    <div id="projectLeft">
      <p>
        
      <b>Contact:</b>
      <% if @project_survey.researcher != "" %>
        <%= @project_survey.researcher %>
      <% else %>
        <%= @project_survey.contact %>
      <% end %>
      </p>
      
      <b>Email:</b>
      <%= @project_survey.email %>
      

    </div>
    <div id="projectRight">
        <% if @project_survey.phone != "" %>
        <p>
        <b>Phone:</b>
        <%= @project_survey.phone %>
        </p>
        <% end %>
  </div>
  </div>    
  <div id="projectBottom">
    <b>Project Description: </b><br /><%= @project_survey.description %>
    <hr>
  </div>

</div><br />

<div id = "projectBaja">
  <div id="positionBox">
  <h1>Available Positions</h1>

  <% @project_survey.positions.each do |position| %>


    <p>
      <b>Description: </b><br /><%= position.description %>
    </p>

    <div id = "projectBaja">
      <div id="nav"></div> <!-- End of nav div -->


      


        <p>
          <b>Students should apply if they will of the following standing by the start of the work period:</b>
            <br />
            <% if position.is_undergrad %>&#8226; Undergraduate<br /><% end %>
            <% if position.is_grad %>&#8226; Graduate<br /><% end %>
            <% if position.is_phd  %>&#8226; PhD <br /><% end %>
            <% if position.is_highschool  %>&#8226; Highschool <br /><% end %>

        </p>  

        <% if position.standing != "" %>
          <p>  
            <b>Undergraduate students should be at least a <%= position.standing %> at the start of the work period.</b>    
          </p>
        <% end %>    

               <p>
          <b>Seeking students who are currently enrolled, or interested in enrolling in <%= position.major %>.</b>
        </p>

        <% if position.work_period != "" %>
          <p>  
            <b>Work Period:</b>
            <%= position.work_period %>
          </p>
        <% end %></p>



        <% if position.skills != "" %>
        <p>
          <b>Desired Skills:</b>
          <%= position.skills %>
        </p>
        <% end %>

        <% if position.gpa != "" %>
        <p>
          <b>Minimum required GPA:</b> <%= position.gpa %>
        </p>
        <% end %>

        <% if position.payment != "" %>
        <p>
          <b>Compensation:</b> <%= position.payment %>
        </p>
        <% end %>

        <% if position.payment != "" %>
        <p>
          <b>Application Deadline:</b> <%= position.record_end %>
        </p>
        <% end %>

      </div>  <!-- end positon box div -->
    </div> <!-- End project baja -->   

  <% end %> 
</div><br />
  
</div>
<div id="projectBaja">
<hr>

  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_project_survey_path(@project_survey) %> |

  <% end %>
  </div>
