<% breadcrumb :home %>
<% width = "width:180px;" %>
<div id="wrap">
	<% if admin_signed_in? %>
		
		<div id="main">
			<%= button_to "View Projects", project_surveys_path, :method => "get", :style => width %>

			<%= button_to "Projects Table", home_projects_path, :method => "get", :style => width %>
			<%= button_to "Positions Table", home_positions_path, :method => "get", :style => width %>
		</div><!--End of "main"> -->
		
		<div id="sidebar">
			<%= button_to "View Scholars' Profiles", student_profiles_path, :method => "get", :style => width %>
			<%= button_to "Students Table", home_students_path, :method => "get", :style => width %>
			<%= button_to "Researchers Table", home_researchers_path, :method => "get", :style => width %>
		</div> <!-- End of "sidebar" -->

	
	<% elsif research_user_signed_in? %>

				<div id="lcell">
					<%= button_to "View Scholars' Profiles", student_profiles_path, :method => "get", :style => width %>
					<%= button_to "View Projects", project_surveys_path, :method => "get", :style => width %>
					<%= button_to "Submit New Project", new_project_survey_path, :method => "get", :style => width %>
					<%= button_to "Logout", destroy_research_user_session_path, method: :delete, :style => width %>
				</div>
				
				<div id="rcell">
					<p>
						<h5>View available students by department.</h5>
					</p>
					<div id="row">
						<h5>View current projects by department.</h5> 
					</div>
					<div id="row">
						<h5>Submit new project to the database.</h5> 
					</div>
					<div id="row">
						<h5>End this session.</h5> 
					</div>
				</div>
	
			<% if @project_surveys.length > 0 %>
				<div id="bottom">
					<hr>
					<h1>Your Current Projects:</h1>
					<table>
				<tr>
					<th>Project Title</th>
					<th>Project Description</th>

					<th>Show</th>
					<th>Edit</th>
					<th>Destroy</th>
				</tr>

			<% @project_surveys.each do |project_survey| %>
				<tr>
					<td><%= project_survey.title %></td>
					<td><%= project_survey.description %></td>
					<td><%= link_to 'Show', project_survey_path(project_survey) %></td>
					<td><%= link_to 'Edit', edit_project_survey_path(project_survey) %></td>
					<td><%= link_to 'Destroy', project_survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
			</table>

			<br />
				</div>
			<% end %> <!-- if @project_surveys -->

	<% elsif user_signed_in? %>
		<% if current_user.student_profile %>
			<h1><%= current_user.student_profile.first_name %> <%= current_user.student_profile.last_name %>` </h1>
		<% else %>
			<h1>Welcome New User!  The next step is to create a profile.</h1>
		<% end %>
		<div id="lcell">
			<% if current_user.student_profile %>
			<%= button_to "Edit Profile", edit_student_profile_path(current_user.student_profile.id), :method => "get", :style => width %>
		<% else %>
			<%= button_to "Create Profile", new_student_profile_path, :method => "get", :style => width %>
		<% end %>
			<%= button_to "View Projects", project_surveys_path, :method => "get", :style => width %>
			<%= button_to "Logout", destroy_user_session_path, method: :delete, :style => width %>

		</div>
				
		<div id="rcell">
			<p>
				<h5>Your profile will be viewed by hiring researchers.</h5>
			</p>
			<div id="row">
				<h5>View current projects by department.</h5> 
			</div>
			<div id="row">
				<h5>End this session.</h5> 
			</div>
			
		</div>
		
		<% if current_user.student_profile %>
			<% @student_profile = current_user.student_profile %>

			<div id="bottom">
				<br />
				<hr>
				<h1>Your Current Profile:</h1>
				<p>
					<b>First Name:</b>
					<%= @student_profile.first_name %>
				</p>

				<p>
					<b>Last Name:</b>
					<%= @student_profile.last_name %>
				</p>
				<p>
					<b>Email:</b>
					<%= @student_profile.email %>
				</p>

				<p>
					<b>Academic Standing:</b>
					<%= @student_profile.academic_level %>
				</p>

				<p>
					<b>Major:</b>
					<%= @student_profile.major %>
				</p>

				<p>
					<b>Minor:</b>
					<%= @student_profile.minor %>
				</p>

				<p>
					<b>Expected Graduation:</b>
					<%= @student_profile.expected_graduation.strftime("%m-%d-%Y") %>
				</p>

				<p>
					<b>Interests:</b>
					<%= @student_profile.interests %>
				</p>
				<hr>
			</div>
		<% end %>
	
	<% else %>
		<h1>UNM's Research Opportunity Database.</h1>
		<h4>Connecting students to research opportunities.</h4>
		<p>
			Welcome to UNM Research Matching Database! This database is designed to connect students who are looking for research opportunities and UNM faculty who seek student assistants in their research projects. The purpose of this program is to encourage current UNM students to engage in research, and to connect prospective students to research opportunities available to them at UNM.
		</p>
		<hr>
		<div id="lcell">
		<%= button_to "Researcher Sign Up", new_research_user_registration_path, :method => "get", :style => width %>
			<%= button_to "Student Sign Up", new_user_registration_path, :method => "get", :style => width %>
			<%= button_to "View Projects", project_surveys_path, :method => "get", :style => width %>
		</div>
				
		<div id="rcell">
			<p>
			<h5>Add your projects to the database.</h5> 	
			</p>
			<div id="row">
				<h5><%= link_to "Sign up", new_user_registration_path %> to add your profile to the database.</h5>
			</div>
			<div id="row">
				<h5>Browse the project database. For more information,<br /> <%= link_to "login", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %>.</h5>
			</div>
			
		</div>
	<% end %> <!-- End "if research_user_signed_in?" -->
	
</div> <!-- end of "wrap"-->	