
				<h1>Matches</h1>
				<table>
				<tr>
					<th>Researcher</th>
					<th>Project</th>
					<th>Students</th>
					<th>Rejected</th>
					<th>Hired</th>
				</tr>
				<% @projects.each do |project| %>
					<% positions = project.positions %>
					<% matches = [] %>
					<% positions.each do |position| %>
						<% matches += MatchedStudents.where(:position_id => position.id ) %>

					<% end %>
						<% unless matches.empty? %>
							<% num_hired = 0 %>
							<% num_rejected = 0 %>
							<% matches.each do |match| %>
								<% if match.hired == true %>
									<% num_hired = num_hired + 1 %>
								<% end %>
								<% if match.is_rejected == true %>
									<% num_rejected = num_rejected + 1 %>
								<% end %>
							<% end %>
							<tr>
								<td><%= project.researcher %></td>
								<td><%= link_to "#{project.title}", project_survey_path(project) %></td>
								<td><%= link_to "#{matches.size}", home_project_matches_path(:project => project, :matches => matches)  %></td>
								<td><%= num_rejected %></td>
								<td><%= num_hired %></td>
							</tr>
						<% end %>
				<% end %>
			</table>

	