<% if @project_surveys.length > 0 %>
		<div id="bottom">
					
		<h1>Your Current Projects:</h1>
		<hr>

			<% @project_surveys.each do |project_survey| %>
				<table>
				<tr>
					<th>Project Title</th>
					<th>Project Description</th>

					<th>Show</th>
					<th>Edit</th>	
					<th>Destroy</th>
				</tr>
				<tr>
					<td><%= project_survey.title %></td>
					<td><%= project_survey.description %></td>
					<td><%= link_to 'Show', project_survey_path(project_survey) %></td>
					<td><%= link_to 'Edit', edit_project_survey_path(project_survey) %></td>
					<td><%= link_to 'Destroy', project_survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				</table>
				<br />
			<% end %>

			<br />
		</div><!--div id = bottom -->
<% end %> <!-- if @project_surveys -->