<% unless @recent_researchers.empty? %>
				<h1>Researchers who have signed up in the last 7 days:</h1>
					<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Department</th>
					<th>Projects</th>
					<th>Joined On</th>
					<th>Destroy</th>
				</tr>

			<% @recent_researchers.each do |researcher| %>
				<tr>
					<td><%= researcher.first_name %></td>
					<td><%= researcher.last_name %></td>
					<td><%= mail_to( researcher.email ) %>
					<td><% if researcher.department  %>
							<%= researcher.department %>
					<% elsif researcher.project_surveys.first %>
						<%= researcher.project_surveys.first.department %>
					<% else %>
						Unknown
					<% end %></td>
					<td><%= link_to "#{researcher.project_surveys.size}", home_researcher_projects_path( :researcher => researcher ) %></td>
					<td><%= researcher.created_at.to_date %></td>
					<td> <%= link_to "Destroy", research_user_registration_path(researcher), :confirm => "Are you sure?", :method => :delete %></td>
				</tr>
	<% end %>
		</table>
<% else %>
	<h1>No Researchers have signed up in the last 7 days.</h1>
<% end %><!-- If @ recent_researchers -->
<br>
<br>
<br>	
<% if @researchers %>
				<h1>All Researcher Accounts:</h1>
					<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Department</th>
					<th>Projects</th>
					<th>Joined On</th>
					<th>Destroy</th>
				</tr>

			<% @researchers.each do |researcher| %>
				<tr>
					<td><%= researcher.first_name %></td>
					<td><%= researcher.last_name %></td>
					<td><%= mail_to( researcher.email ) %>
					<td><% if researcher.department  %>
							<%= researcher.department %>
					<% elsif researcher.project_surveys.first %>
						<%= researcher.project_surveys.first.department %>
					<% else %>
						Unknown
					<% end %></td>
					<td><%= link_to "#{researcher.project_surveys.size}", home_researcher_projects_path( :researcher => researcher ) %></td>
					<td><%= researcher.created_at.to_date %></td>
					<td> <%= link_to "Destroy", research_user_registration_path(researcher), :confirm => "Are you sure?", :method => :delete %></td>
				</tr>
	<% end %>
		</table>
<% end %><!-- If @ researchers -->

	