<h1>Projects for <%= @project.title %> </h1>
<b> Keywords: </b> <%= @project.keywords %> 
	<br>
	<br>
<table>
<tr>
	<th>Name</th>
	<th>Major</th>
	<th>Standing</th>
	<th>GPA</th>
	<th>Interests</th>
	<th>Profile</th>
	<th>Date Matched</th>
	<th>Hired</th>
	<th>Rejected</th>
</tr>
<% @matches.each do |match| %>
	<% student = match.student_profile %>
	<tr>
		<td><%= student.first_name + " " + student.last_name %></td>
		<td><%= student.major%></td>
		<td><%= student.academic_level %></td>
		<td><%= student.gpa %></td>
		<td><%= student.interests %></td>
		<td><%= link_to "View", student_profile_path(student) %></td>
		<td><%= match.created_at.to_date %></td>
		<td><%= match.hired %> </td>
		<td><%= match.is_rejected %> </td>

	</tr>

<% end %>	
</table>