<h1>Projects for <%= @researcher.first_name %> </h1>
	<br>
	<br>
<table>
<tr>
	<th>Title</th>
	<th>Department</th>
	<th>View Project</th>
	<th>Created On</th>
	<th>Disabled</th>

</tr>
<% @projects.each do |project| %>

	<tr>
		<td><%= project.title %></td>
		<td><%= project.department %></td>
		<td><%= link_to "View", project_survey_path(project) %></td>
		<td><%= project.created_at.to_date %></td>
		<td><%= project.is_disabled %></td>

	</tr>

<% end %>	
</table>