<% if @students %>
				<h1>Global Student Information</h1>
				<table>
				<tr>
					<th>Total</th>
					<th>Recent</th>
					<th>Profiles</th>
				</tr>

				<tr>
					<td><%= @students.size %></td>
					<td><%= @recent_students.size %></td>
					<td><%= @profiles.size %></td>

				</tr>
				</table>
				<br>
				<br>
				<br>
				<h1>Student Profiles:</h1>
					<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Department</th>
					<th>View Profile</th>
					<th>Destroy</th>
				</tr>

			<% @students.each do |student| %>
				<% profile = student.student_profile %>
				<% if profile %>
				<tr>
					<td><%= profile.first_name %></td>
					<td><%= profile.last_name %></td>
					<td><%= mail_to profile.email %></td>
					<td><%= profile.department %></td>
					<td><%= link_to 'Profile',student_profile_path(profile) %></td>
					<td><%= link_to "Destroy", user_registration_path(student), :confirm => "Are you sure?", :method => :delete %></td>
				</tr>
				<% end %>	
	<% end %>
		</table>
<% end %><!-- If @ researchers -->

	