<%= form_for(@student_profile) do |f| %>
  <% if @student_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_profile.errors.count, "error") %> prohibited this student_profile from being saved:</h2>

      <ul>
      <% @student_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :academic_level %><br>
    <%= f.text_field :academic_level %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :expected_graduation %><br>
    <%= f.date_select :expected_graduation %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :interests %><br>
    <%= f.text_area :interests %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :major %><br>
    <%= f.text_area :major %>
  </div>
  <div class="field">
    <%= f.label :minor %><br>
    <%= f.text_area :minor %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.text_area :experience %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
