<% breadcrumb :student_profiles %>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :department_cont, "Department" %><br /> 
    <%= f.select :department_cont, options_from_collection_for_select(Department.all, "name", "name", @searched), :style => "width:100px;", :include_blank => "All Departments" , :selected => nil %>

  </div>
  <div class="actions">
  <%= f.submit "Search" %>
  </div>
<% end %>

<% if @searched %>
  <h1> Listing Student Profiles for <%= @searched %></h1>
<% else %>
  <h1>Listing Student Profiles</h1>
<% end %>

<hr>
<% if @student_profiles.length != 0 %>
  <% @student_profiles.each do |student_profile| %>
    <p>
      <b>First Name:</b>
      <%= student_profile.first_name %>
    </p>

    <p>
      <b>Last Name:</b>
      <%= student_profile.last_name %>
    </p>

    <p>
      <b>Academic Standing:</b>
      <%= student_profile.academic_level %>
    </p>

    <p>
      <b>Major:</b>
      <%= student_profile.major %>
    </p>

    <p>
      <b>Research Interests:</b>
      <%= student_profile.interests %>
    </p>
    
    <%= link_to 'View Profile',student_profile %> <br /> 
    
    <% if admin_signed_in? %>
      <td><%= link_to 'Edit', edit_student_profile_path(student_profile) %></td>
      <td><%= link_to 'Destroy', student_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
    <% end %>
 <hr>
<% end %>

<% else %>
    <h5>There are currently no undergraduate applicants this department. </h5>
    <hr>
<% end %>

