<h1>Listing student_profiles</h1>

<table>
  <thead>
    <tr>
      <th>Academic level</th>
      <th>Email</th>
      <th>Expected graduation</th>
      <th>First name</th>
      <th>Interests</th>
      <th>Last name</th>
      <th>Major</th>
      <th>Minor</th>
      <th>Department</th>
      <th>Experience</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @student_profiles.each do |student_profile| %>
      <tr>
        <td><%= student_profile.academic_level %></td>
        <td><%= student_profile.email %></td>
        <td><%= student_profile.expected_graduation %></td>
        <td><%= student_profile.first_name %></td>
        <td><%= student_profile.interests %></td>
        <td><%= student_profile.last_name %></td>
        <td><%= student_profile.major %></td>
        <td><%= student_profile.minor %></td>
        <td><%= student_profile.department %></td>
        <td><%= student_profile.experience %></td>
        <td><%= student_profile.user_id %></td>
        <td><%= link_to 'Show', student_profile %></td>
        <td><%= link_to 'Edit', edit_student_profile_path(student_profile) %></td>
        <td><%= link_to 'Destroy', student_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student profile', new_student_profile_path %>
