<% breadcrumb :student_profile, @student_profile %>

<p>
  <b>First Name:</b>
  <%= @student_profile.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @student_profile.last_name %>
</p>
<p>
  <b>Email:</b>
  <%= @student_profile.email %>
</p>
<p>
  <b>Department:</b>
  <%= @student_profile.department %>
</p>
<p>
  <b>Academic Standing:</b>
  <%= @student_profile.academic_level %>
</p>

<p>
  <b>Major:</b>
  <%= @student_profile.major %>
</p>

<% if @student_profile.minor != "" %>
<p>
  <b>Minor:</b>
  <%= @student_profile.minor %>
</p>
<% end %>
<p>
  <b>Expected Graduation:</b>
  <%= @student_profile.expected_graduation.strftime("%m-%d-%Y") %>
</p>

<p>
  <b>Interests:</b>
  <%= @student_profile.interests %>
</p>

<% if @student_profile.minor != "" %>
<p>
  <b>Experience:</b>
  <%= @student_profile.experience %>
</p>
<% end %>
