<p id="notice"><%= notice %></p>

<p>
  <strong>Academic level:</strong>
  <%= @student_profile.academic_level %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student_profile.email %>
</p>

<p>
  <strong>Expected graduation:</strong>
  <%= @student_profile.expected_graduation %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student_profile.first_name %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @student_profile.interests %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student_profile.last_name %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student_profile.major %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @student_profile.minor %>
</p>

<p>
  <strong>Department:</strong>
  <%= @student_profile.department %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @student_profile.experience %>
</p>

<p>
  <strong>User:</strong>
  <%= @student_profile.user_id %>
</p>

<%= link_to 'Edit', edit_student_profile_path(@student_profile) %> |
<%= link_to 'Back', student_profiles_path %>
